.wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  border-top: 1px solid #0000001A;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 0;
  }
}

.images{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px ;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  img{
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 1/1.3;
    height: 100%;
    object-fit: cover;
  }

  div{
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (max-width: 767px) {
      flex-direction: row;
      overflow-x: auto;
      gap: 10px;
    }
  }
}

.box{
  display: flex;
  flex-direction: column;
  gap: 15px;

  > div{
    &:nth-child(1){
      border-bottom: 1px solid #0000001A;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      gap: 13px;

      h2{
        font-size: 40px;
        font-weight: 700;

        @media (max-width: 1023px) {
          font-size: 32px;
        }

        @media (max-width: 767px) {
          font-size: 28px;
        }
      }

      p{
        color: #00000099;
        font-size: 16px;
        font-weight: 400;
      }
      
      .price{
        display: flex;
        gap: 15px;
    
        b{
          font-size: 32px;

          @media (max-width: 767px) {
            font-size: 24px;
          }
        }
      
        s{
          font-size: 32px;

          @media (max-width: 767px) {
            font-size: 24px;
          }
        }
      }
    }

    &:nth-child(2){
      border-bottom: 1px solid #0000001A;
      padding-bottom: 25px;

      p{
        font-size: 16px;
        color: #00000099;
        font-weight: 400;
      }

      .colors{
        display: flex;
        gap: 10px;

        div{
          width: 40px;
          height: 40px;
          background-color: red;
          border-radius: 50%;
          cursor: pointer;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/check.svg);


          &:nth-child(1){
            background-color: #4F4631;
          }

          &:nth-child(2){
            background-color: #314F4A;
          }

          &:nth-child(3){
            background-color: #31344F;
          }
        }
      }
    }

    &:nth-child(3){
      border-bottom: 1px solid #0000001A;
      padding-bottom: 25px;

      p{
        color: #00000099;
        font-size: 16px;
        font-weight: 400;
      }

      .btns{
        padding-top: 15px;
        display: flex;
        gap: 15px;

        button{
          border: none;
          border-radius: 15px;
          padding: 12px 24px;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }

    &:nth-child(4){
      display: flex;
      gap: 20px;
      padding-top: 25px;
      

      .count{
        display: flex;
        align-items: center;
        gap: 38px;
        background-color: #F0F0F0;
        padding: 5px 10px 5px 10px;
        border-radius: 25px;

        button{
          font-size: 34px;
          border: none;
          background: transparent;
          cursor: pointer;
          border: 1px solid transparent;
          padding: 0 16px 0 16px;
          transition: 0.3s;

          &:hover{
            border: 1px solid #0000001A;
            background-color: #0000001A;
            border-radius: 50%;
          }
        }
      }

      .add{
        padding: 15px 150px;
        background-color: black;
        color: #FFFFFF;
        border-radius: 20px;
        font-weight: 500;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 15px;

        .count {
          width: 100%;
          justify-content: center;
        }

        .add {
          width: 100%;
          padding: 15px 20px;
          text-align: center;
        }
      }
    }
  }
}


