.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0 30px;

    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }

    @media (max-width: 767px) {
        padding: 15px 0;
        gap: 15px;
    }
}

.menu{
    display: flex;
    gap: 20px;

    @media (max-width: 1023px) {
        order: 3;
        width: 100%;
        justify-content: center;
    }

    @media (max-width: 767px) {
        gap: 15px;
        flex-wrap: wrap;
    }

    a{
        color: black;
        text-decoration: none;
    }
}

.logo{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 800;

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.search{
    max-width: 500px;
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    background-image: url(/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 20px;
    padding-left: 60px;

    @media (max-width: 1023px) {
        order: 2;
    }

    @media (max-width: 767px) {
        padding: 10px;
        padding-left: 40px;
        background-position: 15px;
    }
}

.box{
    display: flex;
    gap: 15px;

    @media (max-width: 767px) {
        gap: 10px;
    }
}