.footer{
    background-color: #F0F0F0;
    padding: 0 80px 100px 80px;

    @media (max-width: 1023px) {
        padding: 0 40px 60px;
    }

    @media (max-width: 767px) {
        padding: 0 20px 40px;
    }
}

.wrap{
    padding-top: 150px;
    
    @media (max-width: 1023px) {
        padding-top: 100px;
    }

    @media (max-width: 767px) {
        padding-top: 60px;
    }
    
    .information{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 110px;
        letter-spacing: 1px;
        border-bottom: 1px solid #0000001A;
        padding-bottom: 50px;
        margin-bottom: 25px;

        @media (max-width: 1023px) {
            gap: 60px;
            padding-bottom: 40px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 30px;
            padding-bottom: 30px;
            text-align: center;
        }

        .card_1{
            display: flex;
            flex-direction: column;
            gap: 20px;

            img{
                max-width: 150px;
                width: 100%;

                @media (max-width: 767px) {
                    margin: 0 auto;
                }
            }
        }

        h4{
            cursor: pointer;
            padding-bottom: 25px;

            @media (max-width: 767px) {
                padding-bottom: 15px;
            }
        }

        p{
            cursor: pointer;
            padding-bottom: 5px;
            color: #00000099;
        }
    }

    .payment{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 20px;
        }

        img{
            max-width: 280px;
            width: 100%;
        }
    }
}